:root {
  --blue: #29485b;
  --teal: #1bb398;
  --red: #BD2B5C;
  --gray: #d8d8d8;
}

.ace_editor {
  background-color: var(--blue) !important;
  color: white;
}

.ace_editor .ace_gutter {
  background: var(--blue);
  color: white;
}

.ace_editor .ace_list {
  color: var(--gray);
}

.ace_editor .ace_gutter-active-line {
  background-color: var(--blue);
}

.ace_editor .ace_heading {
  color: var(--teal);
}

.ace_editor .ace_cursor {
  color: white;
}

.ace_editor .ace_string, .ace_string {
  color: var(--red);
}

